<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <script src="/js/CustomUrl.js" defer></script>
</head>
<body>
<div class="tabs">
    <div class="tabs__group">
        <div class="tab results">
            <a th:href="@{/competition/{competitionName}/results(competitionName=${competitionName})}" id="li1">Result</a>
        </div>
        <div class="tab games">
            <a th:href="@{/competition/{competitionName}/games(competitionName=${competitionName})}" id="li2">Games</a>
        </div>
        <div class="tab table">
            <a th:href="@{/competition/{competitionName}/table(competitionName=${competitionName})}" id="li3">Table</a>
        </div>
    </div>
</div>
<table id="gamesTableData" class="league-table">
    <thead>
        <tr>
            <th colspan="6">
                <h1 th:text="${competitionName}"></h1>
            </th>
        </tr>
        <tr>
            <th>#</th>
            <th>Team</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="teamStat : ${tableData.tableDTOList}">
            <td th:text="${teamStat.getTeamRank()}"></td>
            <td>
                <img th:src="'https://media.api-sports.io/football/teams/' + ${teamStat.getApiID()} + '.png'" alt="Team Logo">
            </td>
            <td th:text="${teamStat.getTeamName()}"></td>
            <td th:text="${teamStat.getWins()}"></td>
            <td th:text="${teamStat.getDraws()}"></td>
            <td th:text="${teamStat.getLosses()}"></td>
            <td th:text="${teamStat.getPoints()}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>