<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<table id="gamesTableData" >
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Losses</th>
        <th>Points</th>
    </tr>
    <tr th:each="teamStat : ${tableData.tableDTOList}">
        <td th:text="${teamStat.getTeamRank()}"></td>
        <td th:text="${teamStat.getTeamName()}"></td>
        <td th:text="${teamStat.getWins()}"></td>
        <td th:text="${teamStat.getDraws()}"></td>
        <td th:text="${teamStat.getLosses()}"></td>
        <td th:text="${teamStat.getPoints()}"></td>
    </tr>
</table>

</body>
</html>